<div class="container">
  <div class="row">
    <div class="col-xs-12" *appUnless="false">
      <h1 appBasicHighlight>This is an example with a directive</h1>
      <h1 appBetterHighlight
          [defaultColor]="'yellow'"
          highlightColor="peru">
        This is an example with a better directive
      </h1>

      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="100">Value is 100</p>
        <p *ngSwitchDefault>Value is Default</p>
      </div>
    </div>
  </div>
</div>
